/* Custom page CSS
-------------------------------------------------- */
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.carousel-caption {
  margin:0;
  padding: 0;
}
  
.carousel-caption h3 {
  margin: 10% 0 35%;;
  padding: 0;
}

.carousel-caption p {
  margin:0 10%;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.5);
}

.carousel-indicators {
  bottom: 0;
}

ol.carousel-indicators {
  margin-bottom: 0;
}

.page-header {
  background: url(https://cloud.githubusercontent.com/assets/9150985/15799801/1b0300e8-2a69-11e6-9e9b-dc77fb7ffabc.png) center center no-repeat,;
}

.page-header .label {
  line-height: 3;
}

.page-header p.lead {
  margin: 0 auto 1em;
  }

.nav-tabs {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: none;
    background: #f5f5f5;
}

.nav {
    padding-right: 0;
}

.nav-tabs>li>a {
    margin-right: 0;
    border-bottom: solid 1px #ddd;
    border-top: 1px solid white;
    border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom: solid 1px #ddd;
    border-top: 1px solid #fff;
    border-left: none;
    border-right: none;
}

.nav>li>a {
    padding: 0.5em 0 0.5em 0.5em;
}

.tab-pane h4 {
  color: orangered;
}

#extras, #stats {
  background: burlywood;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f0ad4e;
}

.popup-cursor {
  cursor: pointer;
  color: #337ab7;
}

#row2 .col-sm-8 {
  background: #f0ad4e;
  border: 2px solid #C79564;
}

#cont2 {
  margin-top: 2em;
}

.list-group-item {
    background-color: #f5f5f5;
}

#row4 {
  background-color: #f0ad4e;
}

#cruiserimg {
  padding-top: 2em;
}

#cont3 {
  background-color: orangered;
}

#cont3 p {
  color: orange;
}

/* ---- MEDIA QUERIES ---- */
/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width : 768px) {
.carousel-caption {
  display: none;
  }
.carousel-indicators {
  display:none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.page-header p.lead {
  width: 70%;
  }
#extras td {
  font-size: 10px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#extras td {
  font-size: 14px;
  }
 
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .carousel-caption h3 {
    margin: 10% 0 45%;
  }
 .carousel-caption p {
    margin: 0 20%;
  }

}
