/* Custom page CSS
-------------------------------------------------- */
.carousel-caption {
  margin:0;
  padding: 0;
}
  
.carousel-caption h3 {
  margin: 10% 0 35%;;
  padding: 0;
}

.carousel-caption p {
  margin:0 10%;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.5);
}

.carousel-indicators {
  bottom: 0;
}

ol.carousel-indicators {
  margin-bottom: 0;
}


/* ---- MEDIA QUERIES ---- */
/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width : 768px) {
.carousel-caption {
  display: none;
  }
.carousel-indicators {
  display:none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .carousel-caption h3 {
    margin: 10% 0 45%;
  }
 .carousel-caption p {
    margin: 0 20%;
  }

}
